@import '../main';

#header {
  @include border(#ffb90f);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	font-family: $oswald;
	font-weight: $light;
	text-align: center;
  overflow: hidden;
  position: relative;
	width: 100%;
  height: 100vh;
}

#header-contents{
  @include border(#bf3eff);
  height: 75%;
  width: 65%;

	.header-pic {
		border-radius: 50%;
		height: 12em;
		width: 11em;
	}

	h1 {
		font-weight: $regular;
	  font-size: 3em;
		margin: .5em 0 0;
	}

	h5 {
		font-weight: $regular;
	  font-size: 1.4em;
		margin: 0;
		
		&:after {
			background: $purple3;
		  content: '';
		  display: block;
		  margin: 1.3em auto .7em;
		  position: relative;
		  height: 2px;
		  width: 5em;
		}
	}

	ul.header-list {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: center;
		list-style: none;
	  overflow: hidden;
	  padding: 0;
	  margin: 0;
		
		li {
		  font-weight: $regular;
		  font-size: 1.1em;
			float: left;
			margin: 0 0.5em;
			padding: 0;
		}
	}
}

// 30em === 480px
@media only screen and (min-width: 30em){
	#header-contents{
	  @include border(#6e8b3d);

		.header-pic {
			height: 13em;
			width: 12em;
		}

		h1 {
			margin: .5em 0 0;
		}

		h5 {
			&:after {
			  margin: .9em auto;
			}
		}
	}
}

// 48em === 768px
@media only screen and (min-width: 48em){
	#header-contents{
	  @include border(#ee7600);

		.header-pic {
			height: 14em;
			width: 13em;
		}

		h5 {
			&:after {
			  margin: 1.1em auto;
			}
		}
	}
}

// 64em === 1024px
@media only screen and (min-width: 64em){
	#header-contents{
		@include border(#ee1289);

		.header-pic {
			height: 15em;
			width: 14em;
		}

		h1 {
		  font-size: 3.5em;
		}

		h5 {
			&:after {
			  margin: 1.3em auto;
			}
		}
	}
}