@import 'https://fonts.googleapis.com/css?family=Oswald:200,300,400';

#header {
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
  margin-bottom: 9em;
  padding: 7em 0;
	text-align: center;
}

#header .header-pic {
	border-radius: 10em;
	height: 20em;
	width: 18em;
}

#header h1 {
	font-weight: 300;
  font-size: 3.5em;
	margin: .7em 0 .2em;
}

#header h5 {
	font-weight: 300;
  font-size: 1.4em;
	margin: 0;
}

#header h5::after {
	background: #4c177d;
  content: '';
  display: block;
  margin: 1.3em auto .7em;
  position: relative;
  height: 2px;
  width: 5em;
}

#header .header-list {
  display: inline-block;
	list-style: none;
  overflow: hidden;
  padding: 0;
}

#header .header-list li {
  font-weight: 300;
  font-size: 1.1em;
	float: left;
	margin: 0 0.5em;
	padding: 0;
}